.ForgotPassword {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}


.ForgotPassword .form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

  max-width: 500px;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid black;
}



@media (max-width: 500px){
  .ForgotPassword{
    margin-top: 10vh;

    justify-content: flex-start;
  }

  .ForgotPassword .form{
    border: none;
  }
}